{% extends 'base.html' %}

{% block title %}Citas{% endblock %}

{% block content %}
<h2>Gestión de Citas</h2>
<form method="POST">
    <label for="fecha_hora">Fecha y Hora:</label>
    <input type="datetime-local" name="fecha_hora" required>
    <label for="paciente_id">Paciente:</label>
    <select name="paciente_id" required>
        {% for paciente in pacientes %}
        <option value="{{ paciente.identificacion }}">{{ paciente.nombre_completo }}</option>
        {% endfor %}
    </select>
    <label for="medico_id">Médico:</label>
    <select name="medico_id" required>
        {% for medico in medicos %}
        <option value="{{ medico.identificacion }}">{{ medico.nombre_completo }}</option>
        {% endfor %}
    </select>
    <button type="submit">Programar Cita</button>
</form>
<h3>Lista de Citas</h3>
<ul>
    {% for cita in citas %}
    <li>
        Fecha: {{ cita.Cita.fecha_hora }} - Paciente: {{ cita.paciente_nombre }} - Médico: {{ cita.medico_nombre }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
