{% extends 'base.html' %}
{% block content %}
<h1>Agregar Médico</h1>
<form method="POST">
    <label for="identificacion">Identificación:</label>
    <input type="text" name="identificacion" required>
    <label for="nombre_completo">Nombre Completo:</label>
    <input type="text" name="nombre_completo" required>
    <label for="telefono">Teléfono:</label>
    <input type="text" name="telefono" required>
    <label for="especialidad">Especialidad:</label>
    <input type="text" name="especialidad" required>
    <button type="submit">Agregar</button>
</form>
{% endblock %}
